<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/mui.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
		<style type="text/css">
			body,.content-box{
				background-color:#d7d7d7;
			}
		</style>
	</head>
	
	<body>		
		<div id='content-box'>
			<span style = 'color:#000'>404! 帅哥这里没路走了</span>
			<img style='display:inline-block' src="./images/cat.jpg" alt="">
		</div>
	</body>
</html>