<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%=title%></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/mui.css">
	</head>
	<style>
		#topbox{
			text-align: center;
			width: 50%;
			margin: 0 auto;
			margin-top: 10%;
		}
		#topbox #appName{
			font-size: 2.5rem;
		}
		#topbox #tips{
			margin-top: 2.5%;
		}
		/*登陆窗口*/
		.pop-box{
			margin: 0 auto;
			width: 50%;
			padding: 1.5%;
			background-color: darkgray;
		}
		.pop-box .btn{
			margin: 0 0% 0 0%;
			width: 30%;
		}
		.btn:first-child{
			margin: 0 10% 0 10%;
		}
		.btn-box{
			width: 80%;
			margin: 0 auto;
		}
		.icon{
			width: 25px;
			margin:8px 0 0 10px; 
			position: absolute;
		}

		/*表单样式*/
		.inp-box{
			margin: 0 auto;
			width: 80%
		}
		.inp-box input{
			padding-left: 10%;
			width: 100%
		}
	</style>
	<body>
		<div id='content'>
			<div id='topbox'>
				<span id='appName'>虾皮ERP</span> 
				<p id='tips'>用户请登录</p>
			</div>
		</div>
		<!--登陆框-->
		<div class = 'pop-box'>
			<div class='inp-box'>
				<img class='icon' src="./images/usr.png">
				<input type='text' name='username' id='username' placeholder="请输入用户名">
			</div>
			<div class='inp-box'>
				<img class='icon' src="./images/psw.png">
				<input type='password' name="password" id='password' placeholder="请输入密码">
			</div>
			<div class='btn-box'>
				<button id='login' class='btn'>登陆</button>
				<button id='reg' class='btn'>注册</button>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src='/javascripts/jquery-1.3.2.min.js'></script>
	<script>
		var login = document.getElementById('login');
		var reg = document.getElementById('reg');
		var usr = document.getElementById('username');
		var psw = document.getElementById('password');

		reg.addEventListener('click',function(){
			window.location.href = '/reg';
		});

		login.addEventListener('click',function(){

			$.ajax({
 				 type: 'POST',
 				 url:'/login',
 				 dataType:'json', 
 				 data:{username:usr.value,password:psw.value},
 				 success: function(data){
 				 	if(data.code > 0 ){
 				 		alert(data.msg);
 				 		return;
 				 	}else if(data.code == 0){
 				 		localStorage.setItem('username',usr.value);
 				 		alert(data.msg);
 				 		window.location.href = '/index';
 				 	}
 				 },
 				 error:function(err){

 				 }
 			});
		});

		window.onload = function(){
			if(localStorage.getItem('username') ){
				usr.value = localStorage.getItem('username');
			}
		};

	</script>
</html>
